.FunButton {

    font-size: 1em;
    font-family: inherit;
    background-color: #e1b6ff;
    color: rgb(96, 10, 96);
    border: 2px dotted rgb(66, 6, 66);
}

body {
    background-color: #e8e1f4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body,
.header,
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;

}



.header {
    margin: 10px;
    height: 150px;
}

.title {
    font-size: 1.75em;
    margin: 20px;
}

h1,
h2 {
    font-size: 1em;
    margin: 0px;
}

.wahMargin {
    width: 125px;
    /* background-color: #be92de; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wahMargin2 {
    width: 125px;
    /* background-color: #be92de; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.WaluigiJail {
    padding: 20px;
    height: 400px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cfa7ec;
}

.happyWaluigi {
    height: 350px;
}

.WaluigiText {
    font-size: 17px;
    padding: 12px;
    color: rgb(96, 10, 96);
}

.thankYou {
    font-size: inherit;
    color: rgb(96, 10, 96);
    margin: 15px;
}


@media only screen and (max-width: 525px) {

    .header {
        font-size: .75em;
        height: auto;
        min-height: 100px;
    }

    .title {
        margin: 10px;
    }

    .container {
        flex-direction: column;
        width: auto;
    }

    .wahMargin {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }



    .wahMargin2 {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .WaluigiText {
        font-size: 10px;
        padding: 12px;
        color: rgb(96, 10, 96);
    }

    .WaluigiJail {
        height: auto;
        width: auto;
        max-width: 500px;
    }

    .happyWaluigi {
        height: auto;
        width: 90%;
    }

    h1,
    h2,
    .title {
        text-align: center;
    }

    .thankYou {
        font-size: 1em;
        margin: 10px 0px 0px 0px;
    }



}